html {
  box-sizing: border-box;
  font-size: 18px; /* ain */
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin:0;
  top:0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}


#sec0 {
  width: 1200px;
  margin: auto;
  height: 600px;
  background-image: url(images/tree.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
}

.ourstory {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

#sec2 {
  display: flex;
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}

.pic {
  width: 200px;
  height: 200px;
}
.news {
  width: 900px;
  text-align: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#sec2 div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  width: 100%;
  margin:auto;
}

#accordian > ul {
  padding: 0;
  list-style: none;
}

#accordian {
  width: auto;
  margin: auto;
  height: 400px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

span.happy {
  display: block;
  background: gre;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 50px;
  cursor: pointer;
}

.content {
  height: 0;
  transition: height 0.4s;
  overflow: hidden;
  border: 0;
  background-image: url(images/burger.jpeg);
  background-position-y: -30px;
  background-size: 420px 350px;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
}
#item2 {
  background-image: url(images/wings.jpeg);
  background-position-y: -50px;
  color: white;
  text-align: center;
  font-size: 20px;
}
.content.active {
  height: 300px;

  border-top: 0;
}
.content p {
  padding: 10px;
}
span.happy:hover {
  background: grey;
}

#sec3 {
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
}

#sec4 {
  width: 1200px;
  height: 500px;
  margin: auto;
  display: flex;
  margin: 100px auto 0 auto;
}
iframe{
  margin-top:50px;
}
.informations {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  padding: 0 0 0 50px;

}

.infname {
  font-size: 30px;

}



#head{
  width:100%;
  margin:0 auto;
  position: sticky;
  background: rgba(124, 26, 86, 0.9);
  top:0;
  z-index: 10;
 }

 

header {
  width:1200px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  transition: all 0.2s ease-in-out;
  
}

header img{
  width:70px;
  margin:5px 0;
}

header ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white;
  width: 70%;
  /* border: 1px solid pink; */
}
header ul.nav li {
  margin: 0 5px;
  
}

div.bigimg{
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/cafe-789635_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 5% 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

div.bigimg div {
  width: 100%;
  height: 50px;
}

div.bigimg > p {
  width: 600px;
  text-align: center;
}


div.bigimg > h3 {
  font-size: 55px;
  margin: 0;
}

  div.bigimg a, div.bigimg a:visited{
    color:white;
  }
  div.bigimg a>p:hover{
  color:black;
  background-color:rgba(255, 255, 255,0.8);}
  

div.bigimg a,
div.bigimg a:visited {
  color: white;
}
div.bigimg a > p:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

p.contactuscta {
  border: 1px solid white;
  padding: 15px;
  background: rgba(17, 17, 17, 0.5);
}


div.grey{
  width:100%;
  /* background-color: #f8f9fa; */
  background: rgba(238, 204, 225, 0.1)
}


#sec1{
  width:1200px;
  margin:auto;
  padding:40px 0;
        
}

#sec1 div.menutitle p:first-child{
widows: 1200px;
margin:auto;
font-size: 40px;
text-align: center;
}

#sec1 div.menutitle p:nth-child(2){
  text-align: center;;
}

.menusect{
  display: flex;
 justify-content: center;
}

.menusect p{
  border: 1px solid black;
  padding: 15px;
  width:150px;
  margin:10px 5px;
  text-align: center;
 }

 .menusect p:hover, .menusect p.active{
   background:#7c1a56;
   color:white
 }

 
a:visited, a {
  color: #222;
}
ul.nav li a:visited, a {
  color:white;
}


.carrousel {
  margin: auto;
  width: 150px;
  perspective: 1250px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 18s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 200px;
  height: 160px;
  border: 1px solid #4d444d;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(400px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(400px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(400px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(400px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(400px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(400px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(400px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(400px);
}
.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 2px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.BBB {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}





#sec1 .menu {
  display: flex;
  flex-wrap: wrap;
}

.dinner{
  display: flex;
  padding:30px 0;
  width:550px;
  margin:10px 0;
}

.dinner img{
  width: 150px;
  height:150px;
 
  margin:0 10px;
  border:2px solid #7c1a56;
  border-radius: 50%;
}


.menuline1>p{
  justify-content: space-between;

  margin: 0;
  padding: 2px 10px;
}

.menuline1>p:first-child{
  font-size: 20;
  font-weight: bold;
}

#descr {
  font-size: 15px;
  margin:0; 
  width:350px;
  padding: 0 10px;
  
 } 



#price{
  margin:10px 0;
  color:#7c1a56;
  font-size: 30px;
}

ul.extras{
  display: flex;
  list-style: none;
  font-size: 15px;
  
  padding: 0;
  }

  ul.extras li{
    padding: 0 10px 0 10px;
  }
  

.extras i.fa{
  padding-left:5px;
  font-size: 22px;
  color:purple;
  }
.extras i.fa-check{
  color:green;
}

#foot{
  background: rgba(124, 26, 86, 0.8);
  width:100%;
  

 }

 footer {
   display: flex;
   justify-content: space-around;
   height:350px;

   width:1200px;
   margin:0 auto;
   padding: 0;
 }

 form {
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  height:350px;
  width: 550px;
 }

 label.formtitle{
   margin:20px;
   color:white;
   font-size: 40px;
   text-align: center;
 }

input, textarea {
  width: 500px;
  margin: 8px 8px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  
}


textarea{
  height:120px;
  resize: none;}

input.submitb{
  height: 28px;
  width:165px;
  color:white;
  font-size: 17px;
  font-weight: bold;
  background-color: rgba(124, 26, 86, 0.8);
  text-transform: uppercase;
  border:2px solid white;

}

::placeholder{
  color:#bbb;
  padding:10px 0 0 10px;
}


.media{
  width: 320px;
  height: 250px;
  margin:25px 0;
  padding: 45px 0 0 0;
}

ul.social{
  list-style: none;
  display: flex;
  flex-wrap: wrap;

 
}

.social li{
  margin:5px;
  border:1px solid white;
  background-color: white;
  color:rgba(124, 26, 86, 0.8);
  width:80px;
  height: 80px;
  font-size: 70px;
  line-height: 80px;
  text-align: center;

}

.social a li.fb{
  color:#4267B2;
}
.social a li.fb:hover{
  background: #4267B2;
  color:white;
}
.social a li.rss{
  color:#ee802f ;
}
.social a li.rss:hover{
  background: #ee802f ;
  color:white;
}
.social a li.tw{
  color:#1DA1F2;
}
.social a li.tw:hover{
  background: #1DA1F2;
  color:white;
}
.social a li.yt{
  color:#FF0000 ;
}
.social a li.yt:hover{
  background: #FF0000 ;
  color:white;
}

.social a li.yelp{
  color:#c41200 ;
}
.social a li.yelp:hover{
  background: #c41200 ;
  color:white;
}
.social a li.pint{
  color:#BD081C ;
}
.social a li.pint:hover{
  background: #BD081C ;
  color:white;
}
